<!DOCTYPE html>
<html>

<head>
  <title></title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">

  <link
  type="text/css"
  rel="stylesheet"
  href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>

  <link
  type="text/css"
  rel="stylesheet"
  href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

</head>

<body>
   
    <!-- with veutify --> 
    <div id="app" style="text-align: center; margin-top: 10px;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container">
              <a class="navbar-brand" href="#">MG controle</a>
            </div>
          </nav><br><br><br>
        <h1>Minha conta</h1><br>

        <div style="margin: auto">
        <b-card
        no-body
        style="max-width: 25rem; margin: auto" >
        <template v-slot:header>
          <h4 class="mb-0">{{cliente}} ({{cliente_id}})</h4>
        </template>
    
        <b-list-group flush>
          <b-list-group-item>Total débitos: {{total_debitos | money}}</b-list-group-item>
          <b-list-group-item>Total créditos: {{total_creditos | money}}</b-list-group-item>
        </b-list-group>
    
       
        <b-card-footer><span style="font-size: 30px">Saldo: {{total | money}}</span></b-card-footer>
    
        </b-card>
        </div>


        <!-- <b-card
            title="Resumo"
            style="max-width: 20rem;"
            class="mb-2">
            
            <b-card-text>
                Cliente: {{cliente}} ({{cliente_id}})<br>
                Total débitos: {{total_debitos | money}}<br>
                Total créditos: {{total_creditos | money}}<br>
                Saldo: {{total | money}}
            </b-card-text>
        </b-card> -->
        <br>
        <b-card
            title="Extrato detalhado"
            style="max-width: 100rem;"
            class="mb-2">
            
            <b-card-text>
                <b-table responsive striped hover :fields="fields" :items="items">
                    <template v-slot:cell(debito)="data">
                        {{ data.value | money }}
                    </template>
                    <template v-slot:cell(credito)="data">
                        {{ data.value | money }}
                    </template>
                </b-table>
            </b-card-text>
        </b-card>
            
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            filters: {
                money(value) {
                console.log('value:',  value);
                if (typeof value !== 'number') {
                    return value
                }
                // if (value == 0) {
                //     return 'R$ ' + value
                // }
                var formatter = new Intl.NumberFormat([], {
                    style: 'currency',
                    currency: 'BRL'
                })
                return formatter.format(value)
                }
            },
            data: {
                cliente: null,
                cliente_id: null,
                items: [],
                total_debitos: 0,
                total_creditos: 0,
                total: 0,
                fields: [{ key: 'pid', label: 'Venda (#)' }, { key: 'created', label: 'Data' }, { key: 'debito', label: 'Débito' }, { key: 'credito', label: 'Crédito' }]
            },
            methods: {
                getPosts: function () {
                    var self = this;
                    axios.get('<%=url%>')
                    .then(function (response) {
                        console.log(response.data);
                        self.items = response.data
                        self.cliente_id = self.items[0].cliente_id
                        self.cliente = self.items[0].cliente

                        self.total_debitos = self.items.reduce(function(prev, cur) {
                            return prev + cur.debito;
                        }, 0);

                        self.total_creditos = self.items.reduce(function(prev, cur) {
                            return prev + cur.credito;
                        }, 0);

                        self.total =  self.total_creditos - self.total_debitos

                    })
                    .catch(function (error) {
                        console.log(error);
                    })
                    .then(function () {
                        console.log("got the data" + self.posts)
                    });
                }  
            },
            mounted: function () {
                this.getPosts()
            }
        })
    </script>
</body>